
# ***Paranthesis in Pandas Commands***

**Question:**  Why do some pandas commands end with parentheses, and other commands dont?

In [2]:
# importing modules
import pandas as pd

In [3]:
# loading data directly from url
movies = pd.read_csv('http://bit.ly/imdbratings')

In [4]:
# head command
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
movies.describe() # descriptive statistics of all numerical columns

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [10]:
movies.shape # shape of dataframe

(979, 6)

In [12]:
movies.dtypes # tell types of all columns

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [13]:
type(movies)

pandas.core.frame.DataFrame

So ***movies*** here is a dataframe type of data, which allows it to have its own methods like .head(), .info(), .describe() methods with parentheses, and attributes are the ones that are without parentheses like shape, dtypes

- ***Methods***:
  - are more like actions 
- ***Attributes**:
  - DESCRIPTIONS ABOUT WHO YOU ARE

## **EXAMPLE**

IF WE HAVE A HUMAN AS A OBJECT IN PYTHON:
- methods will be like
  - human.talk()
  - human.walk()
  - human.eat()
- Attributes will be like
  - human.height
  - human.age

We have to take care of these things in pandas. We might be working with pandas as DataFrame, or a series, so we have to learn about methods and attributes.


## **Optional arguments**
methods with parenthesis can take option arguments too that can be used to enhance or specify certain actions.

In [14]:
movies.describe() # without option arguments

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [15]:
movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [16]:
movies.describe(include=['int'])

         duration
count  979.000000
mean   120.979571
std     26.218010
min     64.000000
25%    102.000000
50%    117.000000
75%    134.000000
max    242.000000