# ***Renaming Columns names in pandas DataFrame***

In [1]:
# import pandas
import pandas as pd

In [2]:
ufo =pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [6]:
# look only columns name
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [7]:
# lets suppose we want to change the Colors Reported and Shape Reported columns
ufo.rename(columns = {"Colors Reported": 'Colors_Reported',
                      'Shape Reported': 'Shape_Reported'}, inplace=True)

In [8]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [12]:
# 2 Replace all columns name # list of strings
ufo_cols = ['city', 'colors reported', 'shape reported', 'states', 'time']

ufo.columns = ufo_cols
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'states', 'time'], dtype='object')

In [13]:
ufo =pd.read_csv('http://bit.ly/uforeports', names = ufo_cols, header=0)
# renaming while reading the file
ufo.head()

                   city colors reported shape reported states             time
0                Ithaca             NaN       TRIANGLE     NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER     NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL     CO  2/15/1931 14:00
3               Abilene             NaN           DISK     KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT     NY  4/18/1933 19:00

In [15]:
# What if we have hundereds of columns and they all or some of them have spaces in them so we want to remove spaces in all of them at once.....

ufo.columns

Index(['city', 'colors reported', 'shape reported', 'states', 'time'], dtype='object')

In [16]:
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns
# string methods is used.

Index(['city', 'colors_reported', 'shape_reported', 'states', 'time'], dtype='object')