# ***Pandas General Questions***

1 - How to load only specific columns  while loading dataframe?\
2- Fastest way to read csv to check data\
3- Iterate through the dataframe and series

In [1]:
# 1 - 
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=['City', 'Time'])
ufo.head()

                   City             Time
0                Ithaca   6/1/1930 22:00
1           Willingboro  6/30/1930 20:00
2               Holyoke  2/15/1931 14:00
3               Abilene   6/1/1931 13:00
4  New York Worlds Fair  4/18/1933 19:00

In [2]:
# 2 
movies = pd.read_csv('http://bit.ly/imdbratings', nrows=3)
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [3]:
# 3 - iterate over the rows in column

for i in movies.title:
    print(i)

The Shawshank Redemption
The Godfather
The Godfather: Part II

In [6]:
# 4 - iterate over dataframe
for index, rows in movies.iterrows():
    print(index, rows.title, rows.genre)

0 The Shawshank Redemption Crime
1 The Godfather Crime
2 The Godfather: Part II Crime

4 -  Best way to drop non-numeric column from a Dataframe?\
5 - Where to use parenthesis and where to not?

In [17]:
# 4 - 
drinks  = pd.read_csv('http://bit.ly/drinksbycountry')
# print dtypes
print(drinks.dtypes)
import numpy as np
drinks = drinks.select_dtypes(include = [np.number])
drinks.head()# only numbers are now loaded in dataframe

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

   beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
0              0                0              0                           0.0
1             89              132             54                           4.9
2             25                0             14                           0.7
3            245              138            312                          12.4
4            217               57             45                           5.9

In [28]:
# 5 --
drinks  = pd.read_csv('http://bit.ly/drinksbycountry')
print(drinks.describe(include=('object'))) # single parenthesis

# when we are defining include argument, with to take up which datatype to display, 
# we can pass single string or may be a list of strings for multiple datatypes to load

            country continent
count           193       193
unique          193         6
top     Afghanistan    Africa
freq              1        53

In [29]:
print(drinks.describe(include=(['object', 'float'])))

            country  total_litres_of_pure_alcohol continent
count           193                    193.000000       193
unique          193                           NaN         6
top     Afghanistan                           NaN    Africa
freq              1                           NaN        53
mean            NaN                      4.717098       NaN
std             NaN                      3.773298       NaN
min             NaN                      0.000000       NaN
25%             NaN                      1.300000       NaN
50%             NaN                      4.200000       NaN
75%             NaN                      7.200000       NaN
max             NaN                     14.400000       NaN