# ***Using Axis Parameter in Pandas***

In [1]:
# importing module
import pandas as pd

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [5]:
# axis parameter to specify to drop a column
drinks.drop('continent', axis=1).head() # drops continent column and is temporarily because i have not said inplace = true

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [9]:
# using axis parameter to drop a row

drinks.drop(1, axis=0).head() # albania drops as specified in function to drop row

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [12]:
print(drinks.mean(axis=1))
print(drinks.mean(axis=0))
# mean of each of numeric colum
# default axis is 0 for this function
# o direction is down
# 1 direction is from left to right of right to left

0        0.000
1       69.975
2        9.925
3      176.850
4       81.225
        ...
188    110.925
189     29.000
190      1.525
191     14.375
192     22.675
Length: 193, dtype: float64
beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

C:\Users\mrloo\AppData\Local\Temp/ipykernel_3944/186762029.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(drinks.mean(axis=1))
C:\Users\mrloo\AppData\Local\Temp/ipykernel_3944/186762029.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(drinks.mean(axis=0))

In [11]:
# axis = 0 has alias as 'index'
# axis = 1 has an alias as 'columns'

print(drinks.mean(axis='index'))
print(drinks.mean(axis='columns'))

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64
0        0.000
1       69.975
2        9.925
3      176.850
4       81.225
        ...
188    110.925
189     29.000
190      1.525
191     14.375
192     22.675
Length: 193, dtype: float64

C:\Users\mrloo\AppData\Local\Temp/ipykernel_3944/602898536.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(drinks.mean(axis='index'))
C:\Users\mrloo\AppData\Local\Temp/ipykernel_3944/602898536.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(drinks.mean(axis='columns'))