# **Python Basics Training**

Start Date: July 25th, 2022

------- - ------- --- - -- - -- - -- - - -- - -- -- -- -- - 
*Dilshad Raza*\
*Institute of Geology*\
*University of the Punjab,*\
*Lahore, 54590 - Pakistan*. 
- - -- -- - -- --- -- - -- - -- - - -- - - -- - - -- - -- -

**01 - What is Programming?**\
Just like we use urdu, english, punjabi languages to communicate with each others, In the same sense, to communicate with computer we need programming. Programming is a way to instruct computer to perform various tasks.

**02 - What is Python?**\
Python is a simple and easy to understand programming language which is simply similar to english with easy to understand syntax. It is a high level language. This pseudo code nature of python is the reason for the popularity of the python.

**03 - Features of Python?**
- Easy to understand ---> Less Development time
- Free and Open Source
- High level language
- Portable which means, works on linux, windows, mac
- Is widely used for Data Science, Machine Learning, Artificial Intelligence and for web and app development.

## **Chapter 01 : Modules, pip & Comments**

**Module:**\
A module is a file containing code written by somebody else which can be imported and used for our programs. There are a huge number of modules present to date for python. They can make work very easy and can solve very complex problem with in minutes and very less lines of codes.

**Types of Modules**\
There are two types of modules;\
1- External Modules are required to be intalled to system to use\
2- Built-in Modules come with python and a pre installed with python.

**pip:**\
Pip is the package manger for python that we can use to install modules on our system.

i.e. *pip install flask* will install the module flask in our system which can be imported for our purposes. i.e. *import flask*

**Comments:**\
Comments are used to write things on code that we donot want to execute. Can be used to tell wat the code lines are actually written to do. When we see old codes, we might want to understand that code, so if it will be well commented,  it will easier for anyone to use that code again with out doing much of the hardwork to understand the code by themselves.

**Types of Comments:**\
1- **Single Line Comments** written using # \
2- **Multiline comments** written using ''' Comment Lines '''.

In [1]:
# Write a program to print Twinkle twinkle little star poem in python?

# Sol:

print('''Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.''')

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

In [2]:
# Print the table of 5 using python.
print(5*1)
print(5*2)
print(5*3)
print(5*4)
print(5*5)
print(5*6)
print(5*7)
print(5*8)
print(5*9)
print(5*10)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# install a module 
pip install flask

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (1.1.4)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask) (2.0.1)

In [3]:
# Write a python program to print the contents of a directory using os module.
import os
print(os.listdir())

['Python_Training.ipynb']

## **Chapter 02: Variables and DataTypes**

**Variable:**\
A variable is a name given to a memory location in a program. A variable is one in which something is stored. A container that stores a value. e.g.\
a = 30\
b ='Dilshad'\
c = 24.5

**Rules for defining a Variable Name:**
- A variable name can contain alphabets, digits and underscores
- A variable name can only start with an alphabet and underscore
- A variable name can not start with a digit
- No white space/space is allowed to be used inside a variable name
- Variable names are Case Sensitive.

**DataTypes:**\
Primarily there are following 
datatypes in python\
1- Integers\
2- Strings\
3- Floating point numbers\
4- Booleans\
5- None

Python is a great language that automatically finds the type of data by using type function. If we want to find the type of data, we can simply write:\
*type(any value)*\
It will print the value datatype that you entered.


**Operators in Python**\
Following are the common operators in python:
- Arthimetic Operators (+,-,*,/, etc.)
- Assignment Operators (=, +=, -=, etc.)
- Comparision Operators (==, >,>=,<,<=, != etc)
- Logical Operators (and, or, not)

**type Function and Type Casting**\
type function is an inbuilt function that provides the type of the input given. It can give us type of values, variables.

Type casting is a way to convert one datatype to another.

In [4]:
# Arthimetic Operators
a = 3
b = 4

print('The value of 3+4 is', 3+4)#addition
print('The value of 3-4 is', 3-4)#subtraction
print('The value of 3*4 is', 3*4)#multiplication
print('The value of 3/4 is', 3/4) #division

The value of 3+4 is 7
The value of 3-4 is -1
The value of 3*4 is 12
The value of 3/4 is 0.75

In [5]:
# Assignment Operators

a =34
a +=2 # adds 2 to values stored in "a" Variable

b = 33
b-= 3 # subtracts 3 to values stored in "b" Variable


c = 33
c*= 3 # multiply 3 to values stored in "c" Variable



d = 33
d/= 3 # divides 3 to values stored in "d" Variable

print(a,b,c,d)

36 30 99 11.0

In [6]:
# Comparision Operators

x = (4>7)# greater than
y = (5<9) #less than
yy = (5<=9)# less than or equal to
xx = (5>=9)# greater than or equal to
zz = (5==6)# equal to
z = (5!=6) #not equal to 

print(x,y,xx,yy,z,zz)

False True False True True False

In [7]:
# Logical Operators
bool1 = True
bool2=False

print('The Values of bool1 and bool2 is', (bool1 and bool2))# prints true when both are true
print('The Values of bool1 or bool2 is', (bool1 or bool2)) # prints true when any of it is true
print('The Values of bool1 not bool2 is', (not bool2)) # prints opposite to value

The Values of bool1 and bool2 is False
The Values of bool1 or bool2 is True
The Values of bool1 not bool2 is True

In [8]:
# type functions
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(x))
print(type(xx))
print(type(y))
print(type(yy))
print(type(z))
print(type(zz))
print(type(bool1))
print(type(bool2))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [9]:
#type casting

a = '353' #string
a =int(a) #string into int

b = 98 #integer
b = float(b) #integer to float
c = str(b)# integer to string

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

**Input Function:**

A builtin function that takes user input and put into the variable. Like we can ask user to provide details and then can process it by asigning varibales to each input. Input is always takken as string. But then typecasting can be used to play with data.

In [10]:
a = input('Enter Your Name:')
print('Hey',a, 'Welcome to Python Training program.')

Hey Dilshad Welcome to Python Training program.

**Practice Questions for Chapter 2**

In [11]:
# a program that can add two numbers

num1 = input('Write First Number')
num1 = int(num1)
num2 = input('Write Second Number')
num2 = int(num2)
print('The Sum of two numbers is',num1+num2)

The Sum of two numbers is 133

In [12]:
# write a program to find remainder when a number is divided by 2.

a = 21
b= 2
c = a%b
print('Remainder of the Value when divided by 2 is', c)

Remainder of the Value when divided by 2 is 1

In [13]:
# check the type of variable assigned uusing input function

a = input('Write Anything: ')

print(type(a))

<class 'str'>

In [ ]:
# use comparision operator to find out wheter a given variable a is greater than b or not (take a =34, b=80)

a = 34
b = 80

print(a>b)

False

In [ ]:
# write a python program to find an average of two numbers entered by user?

nm1 = input('Enter First Number: ')
nm1 = int(nm1)
nm2 = input('Enter Second Number: ')
nm2 = int(nm2)

print('The Average of Input Numbers is',nm1+nm2/2)

Enter First Number: 343
Enter Second Number: 77
The Average of Input Numbers is 381.5

In [ ]:
# write a python program to calculate square of a number entered by the user.
sqn = input('Enter Number: ')
sqn = int(sqn)

print('The Square of the number is',sqn**2)

Enter Number: 8
The Square of the number is 64

## **Chapter 03: Strings**

- String is a data type in python
- String is a squence of characters enclosed in quotes.

We can write strings in three ways:\
1- Single Quoted Strings ---> *a = 'dilshad'*\
2- Double Quoted Strings ---> *b = "dilshad"*\
3- Triple Quoted Strings ---> *c = '''dilshad'''*

**String Slicing**\
A string in python can be sliced for getting a part of the string.\
Consider the following string:\
  name = "Dilshad" ---> Length = 7\
          0123456 <--- counting from left to right(indexing) \
          7654321 <--- counting from right to left(indexing)

- The index of string starts from zero. So (length - 1) will be used to print whole string In order to index a string, we use follwoing syntax;

*a = 'Dilshad'*\
*a[0]* #gives output D\
*a[3]* # gives output s\
*a[7]* # gives erro because there is no character is indexed at '7'. So it means we can index string upto the **(length - 1)**
  - We cannot change a character in string with indexing is Not allowed;


e.g.\
*a = 'Dilshad'* # string\
*a[4] = 'a'* # Error, interpreter not able to replace or change it.


  - If we want to get a series of strings characters; we can use syntax as;


*a = 'Dilshad'* # string\
*a[0:4]* # gives 'Dils' as 5th letter is not counted after colon(:) in here.

**Negative Indices:**\
Negative indices can also be used to find last character by just using -1 in indexing.
*a = 'Dilshad'* # string\
Negative indices its values are -1-2-3-4-5-6-7 necayse it starts from -1 not zero.

**Slicing with skip value**\
We can provide a skp value as a part of our slice like as;

a = 'beautiful'\
a[1:5:2] will provides, 'eu as output'\
a[start from:end till:Skip every 2nd value]         in this case.


## **String Functions:**
1- **len() function**:\
it gives length of all the characters in the string.\

2- **string.endswith('df')**\
returns true or false depending upon the end of string if it matches the requirements.

3- **string.count('a')**\
count the number of characters occured appeared in a string

4- **string.capitalize**\
capitalize first letter of string

5- **string.find()**\
finds first occurence of string

6- **string.replace()**\
replaces characters in string with new characters

In [14]:
story= '''once there was a thirsty crow. 
He was seaching for water. 
He was thirsty so he wanted to drink water. 
He saw a pot of water.'''
# string functions

print(len(story))
print(story.endswith('er'))
print(story.count('o'))
story.capitalize()
print(story.find('crow'))
print(story.replace('crow', 'fox'))

127
False
7
25
once there was a thirsty fox.
He was seaching for water.
He was thirsty so he wanted to drink water.
He saw a pot of water.

**Escape Sequences**\
Sequence of characters after backslash(\\)\
\n(newline), \t(tab) ,\'(singlequote), \\(backslash) etc. are known as escape sequence characters. 

## **Practice Set 3**

In [15]:
# write a python program to display a user entered name followed by Good Afternoon using Python.

name = input('Enter Your Name:')
print(name,', Good Afternoon!')

Dilshad , Good Afternoon!

In [17]:
# write a program to fill in a letter template given below with name and date.

letter = '''Dear <|NAME|>,
You are selected!

<|DATE|>
'''
name = input('Enter Name')
date = input('Enter Date:')

letter = letter.replace('<|NAME|>', name)
letter = letter.replace('<|DATE|>', date)
print(letter)

Dear Ali,
You are selected!

Nov 27th, 2022

In [18]:
# write a program to detect doublw spaces in a string
a = 'In the lost space,  I found you, You were always within me, but lost, i found you, you  lost me.'

print(a.find('  '))

18

In [19]:
# replace double spaces with single space in problem above.
a = 'In the lost space,  I found you, You were always within me, but lost, i found you, you  lost me.'
c = a.find('  ')

a = a.replace('  ', ' ')

print(a)

In the lost space, I found you, You were always within me, but lost, i found you, you lost me.

In [1]:
# Format the given string using escape sequence characters

letter = "Dear Dilshad, /n/tIt is really great to inform you that you've been selected. /nThank you"

print(letter)

Dear Dilshad, /n/tIt is really great to inform you that you've been selected. /nThank you

## **Chapter 04 Lists and Tuples**

**Lists:**\
Python lists are containers to store a set of values of any datatype:
eg./
friends = ['Ali', 'Dilshad', 'Sohaib', 'Ahmad', 'Noman', 'Shoaib']

**List indexing**:\
A list can also be indexed in the same way as strings\

L1 = [7,8,9,'Dilshad', True]

L1[1] ==> 8\
L1[3] ==> 'Dilshad'\
L1[1:3] ==> 8,9\
L1[0:5:2] ===> 7,9,True

**Lists are Mutable**/
Lists are mutable and we can change values with in them.

- We can create a list with items of different data types
- We can change the values within lists using indexes
- Lists indexes can be done till (lenght - 1)

In [11]:
# create a list

list1 = [1,2,34,5,6,8,9,33,4,5,7]

# print list
print(list1)

# access using indexing

a =list1[5] 
print(a)

# Change the value of list

list1[2] = 98
print(list1)

# List slicing
friends = ['Dilshad', 'Ali', 'Sohaib','Shoaib','Noman', 7]
print(friends[0:4])
print(friends[-4:])

[1, 2, 34, 5, 6, 8, 9, 33, 4, 5, 7]
8
[1, 2, 98, 5, 6, 8, 9, 33, 4, 5, 7]
['Dilshad', 'Ali', 'Sohaib', 'Shoaib']
['Sohaib', 'Shoaib', 'Noman', 7]

**List Methods:**
1) *List.sort()*
2) *List.reverse()*
3) *List.append()*
4) *List.insert(index,value to add)*
5) *List.pop(index)*
6) *List.remove(value)*

In [19]:
# create list
l1 =[1,8,7,5,3,44,77,88,93,3,4,67,88]
print(l1)

# sort method
l1.sort() #sort actual list not create a new variable
print(l1)

# reverse method
l1.reverse()
print(l1)

# VEry important Append method will 
# add a datatype in the end of list
l1.append(34)
print(l1)

# Insert method
l1.insert(2,44)
print(l1)


# pop method
l1.pop(4) # removes value indexed at 4
print(l1)

# remove method
l1.remove(3) #remove first 3 value in the list
print(l1)

[1, 8, 7, 5, 3, 44, 77, 88, 93, 3, 4, 67, 88]
[1, 3, 3, 4, 5, 7, 8, 44, 67, 77, 88, 88, 93]
[93, 88, 88, 77, 67, 44, 8, 7, 5, 4, 3, 3, 1]
[93, 88, 88, 77, 67, 44, 8, 7, 5, 4, 3, 3, 1, 34]
[93, 88, 44, 88, 77, 67, 44, 8, 7, 5, 4, 3, 3, 1, 34]
[93, 88, 44, 88, 67, 44, 8, 7, 5, 4, 3, 3, 1, 34]
[93, 88, 44, 88, 67, 44, 8, 7, 5, 4, 3, 1, 34]

**Tuples:**\
Tuples are used to store multiple items in a single variable. \
They cannot be updated so immutable.\
They are indexed in the same way as strings and lists.
- We can create empty tuple
- tuple with one element needs a comma
- tuple with multiple values is created using single parathesis.

In [22]:
t = (8,54,3,434,656,5,22,3,2,32,3)
#print
print(t)
#empty tuple
et = ()
print(et)

# single element tuple
t1 = (2) #wrongway not a tuple
t1 = (2,) #right way
print(t1)

# tuple with multiple elements
tm = (23,4,5,67)
print(tm)

(8, 54, 3, 434, 656, 5, 22, 3, 2, 32, 3)
()
(2,)
(23, 4, 5, 67)

**Tuple Methods:**
1) *tuple.count(value)*
2) *tuple.index(value)*

In [29]:
# tuple.count method
r = (12,234,34,3,2,21,21,2,12,1,2,12,12,1)
print(r.count(21)) # counts occurence of 21in tuple

# index method help in searching index
print(r.index(1)) # index value the first occurence of value in tuple

#

2
9

## **Practice Set 04**

In [30]:
# Write a program to store seven fruits in a list entered by the user

f1 = input('1st Fruit Name ')
f2 = input('2nd Fruit Name ')
f3 = input('3rd Fruit Name ')
f4 = input('4th Fruit Name ')
f5 = input('5th Fruit Name ')
f6 = input('6th Fruit Name ')
f7 = input('7th Fruit Name ')

fruits = [f1,f2,f3,f4,f5,f6,f7]
print(fruits)

['Banana', 'Apple', 'Guava', 'Grapes', 'Pomegranate', 'Water Melon', 'Mango']

In [31]:
# write a program to accept marks of 6 students and display them in a sorted manner.

s1 = input('First Student Marks: ')
s1 = int(s1)
s2 = input('Second Student Marks: ')
s2 = int(s2)
s3 = input('Third Student Marks: ')
s3 = int(s3)
s4 = input('4th Student Marks: ')
s4 = int(s4)
s5 = input('5th Student Marks: ')
s5 = int(s5)
s6 = input('6th Student Marks: ')
s6 = int(s6)

marks = [s1,s2,s3,s4,s5,s6]
marks.sort()

print(marks)

[232, 343, 2323, 4545, 4554, 5656]

In [32]:
# check that a tuple cannot be changed in python

t1= (1,2,4,5,6,7,8)
t1[2] = 3
print(t1)

TypeError: 'tuple' object does not support item assignment

In [38]:
# write a program to sum a list with 4 numbers.

lst = [3434,3343,343433,5656556]
print(lst[0]+lst[1]+lst[2]+lst[3])
print(sum(lst[0:]))
print(sum(lst))

6006766
6006766
6006766

In [35]:
# write a program to count the number of zeros in the following tuple
#  t = (7,0,8,0,0,0,9,8,6,5,3,3,3,7,8,96,5,4,5,6,7,7,88,9,9,9,9,0,0,0,0,0,0)

t = (7,0,8,0,0,0,9,8,6,5,3,3,3,7,8,96,5,4,5,6,7,7,88,9,9,9,9,0,0,0,0,0,0)
print(t.count(0))

10

## **Chapter 05 Dictionary and Sets**

**Dictionary**\
It is a set of collection of key-value pairs.

**Syntax :**\
a = {'Key1' : 'Value1',\
'ali' : 'dilshad',\
'marks' : 1,\
'list' : [1,2,3,4]\
}

a['Key'] ==> prints 'Value'\
a['list] ==> prints [1,2,3,4]

**Properties of Dictionaries**
- Unordered
- Mutable
- Indexed
- Cannot store duplicate keys

In [6]:
# create dictionary

dict ={
    'Name' : 'Dilshad Raza',
    'Profession' : 'Geologist',
    'Interest' : 'DataScience',
    'Marks' : [948,888],
    'Mobile Number' : 923087625314,
    'GPA': 3.27,
    'Education' : {'Institute':'IGUP'},
    1:2
}

#printing dictionary
print(dict)

# getting values based on keys
print(dict['Name'])

#getting values of nested dictionary = dictionary within dictionary
print(dict['Education']['Institute'])

#updating dictionaries
dict['Marks'] = [948,888,12]
print(dict['Marks'])

{'Name': 'Dilshad Raza', 'Profession': 'Geologist', 'Interest': 'DataScience', 'Marks': [948, 888], 'Mobile Number': 923087625314, 'GPA': 3.27, 'Education': {'Institute': 'IGUP'}, 1: 2}
Dilshad Raza
IGUP
[948, 888, 12]

**Dictionary Methods:**
1) *dict.keys()*
2) *dict.values()*
3) *dict.items()*
4)

In [22]:
# create dictionary
dict ={
    'name' : 'Dilshad Raza',
    'profession' : 'Geologist',
    'interest' : 'DataScience',
    'marks' : [948,888],
    'mobile' : 923087625314,
    'GPA': 3.27,
    'education' : {'institute':'IGUP'},
    1:2
}

# dict.keys method
print(dict.keys())
print(type(dict.keys()))
print(list(dict.keys())) # get keys in the form of list
print(type(list(dict.keys())))

# values. method
print(dict.values())
print(type(dict.values()))

# items method
print(dict.items()) # return a list of key value tuples #prints both (key, value) p

# update methods
update_dict = {
    'programming':'Python',
    'city':'Okara',
    'GPA': 3.33
}
dict.update(update_dict) # updates dictionary by adding key value pairs form update_dict
#it updates the previosuly present values too as in GPA here.
print(dict) 

# dict.get() method
print(dict.get('name')) # return the value but if its key is not present it will return none
print(dict.get('Address'))

dict_keys(['name', 'profession', 'interest', 'marks', 'mobile', 'GPA', 'education', 1])
<class 'dict_keys'>
['name', 'profession', 'interest', 'marks', 'mobile', 'GPA', 'education', 1]
<class 'list'>
dict_values(['Dilshad Raza', 'Geologist', 'DataScience', [948, 888], 923087625314, 3.27, {'institute': 'IGUP'}, 2])
<class 'dict_values'>
dict_items([('name', 'Dilshad Raza'), ('profession', 'Geologist'), ('interest', 'DataScience'), ('marks', [948, 888]), ('mobile', 923087625314), ('GPA', 3.27), ('education', {'institute': 'IGUP'}), (1, 2)])
{'name': 'Dilshad Raza', 'profession': 'Geologist', 'interest': 'DataScience', 'marks': [948, 888], 'mobile': 923087625314, 'GPA': 3.33, 'education': {'institute': 'IGUP'}, 1: 2, 'programming': 'Python', 'city': 'Okara'}
Dilshad Raza
None

**Sets in Python:**\
It is a collection of non repetitive elements.
- It doesnt allow repitition.
- Repitition is ignored.

**Properties of sets**
- Unordered------order doesnt matter
- Unindexed ----canot be accessed by indexing
- Items cannot be changed
- Cannot contain duplicate values
- Cannot add list in the sets
- tuples can be added
- dictionaries cannot be added.

In [31]:
# sets in Python
#creating a set
a ={1,2,3,4,1,3,4,5,6,7,8,34,(4,5,34)}
print(a) # print a 
print(type(a)) # print type of a

# empty set
e_set = {} # is not right syntax for empty set it will make a dictionary
print(type(e_set))
# empty set creation
e_set = set()
print(e_set)
print(type(e_set))

{1, 2, 3, 4, 5, 6, 7, 8, 34, (4, 5, 34)}
<class 'set'>
<class 'dict'>
set()
<class 'set'>

In [30]:
# Methods on Sets
# add method
#creating a set
a ={1,2,3,4,1,3,4,5,6,7,8,34,4,5,34}
a.add(99) # add it once
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 34, 99}

In [47]:

s ={1,8,7,5,4,3,1}
# print length of set
print(len(s))

# remove an element
s.remove(8)
# s.remove(12) # something is not in the set will return key found error.
print(s)

# pop method to remove and get some value form set
print(s.pop()) #removes an arbitrary element from the set and returns the element removed.
print(s)

# set.clear() method will make your set empty
sc={1,2,3}
sc.clear()
print(sc)

# set.union() operation
s1 = {3,4,5}
s2 = {1,2,6}
su = s1.union(s2) # unions the sets and return both values
print(su)

# set.intersection method
s1 ={8,7,6,5,4,3}
s2 = {1,2,3,4,7,8,9,10,11,12,13,14,15}

si = s1.intersection(s2) # returns common elements in both sets
print(si)

6
{1, 3, 4, 5, 7}
1
{3, 4, 5, 7}
set()
{1, 2, 3, 4, 5, 6}
{8, 3, 4, 7}

## **Practice set 05**

In [48]:
# write a program to create a dictionary of a social professional profile and give user an option to look it up.
s_p_dict = {
    'name' : 'Dilshad Raza',
    'father name' : 'Muhammad Akram',
    'education' : 'BS(Hons.) Applied Geology',
    'institute' : 'Institute of Geology',
    'roll no' : 'BSGY-2018-09',
    'semester': '6th',
    'GPA': 3.33,
    'completion': '2022-09-01'
    }

print(list(s_p_dict.keys()))
a = input('Enter key to Look up from the list above')
val = s_p_dict.get(a)
print(val)

['name', 'father name', 'education', 'institute', 'roll no', 'semester', 'GPA', 'completion']
Dilshad Raza

In [51]:
# write a program to input eight numbers from user and display all the unique numbers

n1 = int(input('Enter Number 1: '))
n2 = int(input('Enter Number 2: '))
n3 = int(input('Enter Number 3: '))
n4 = int(input('Enter Number 4: '))
n5 = int(input('Enter Number 5: '))
n6 = int(input('Enter Number 6: '))
n7 = int(input('Enter Number 7: '))
n8 = int(input('Enter Number 8: '))

s = {n1,n2,n3,n4,n5,n6,n7,n8}

print(s)

{1, 2, 3, 4}

In [52]:
# can we have a set with 18 as integer ans '18' as string in a set
s1 = {18,'18'}
print(s1)
# So the answer is yes

{18, '18'}

In [55]:
# What will be the length of followin sets:
s = set()
s.add(20)
s.add('20')
s.add(20.0)

print(s)
len(s)

# length of set will be 2 after these operations

{'20', 20}

2

In [57]:
# s = {} what is the type of s?

s = {}
print(type(s))

# dictionary is the type of this

<class 'dict'>

In [62]:
# create an empty dictionary, allow four friends to enter their favourite language as values and use keys as their names. Assume that the names are unique.
dct = {
    
}

n1 = input('Enter Name:')
l1 = input("Enter Your Favourite Language: ")
n2 = input('Enter Name 2: ')
l2 = input("Enter Your Favourite Language: ")
n3 = input('Enter Name 3: ')
l3 = input("Enter Your Favourite Language: ")
n4 = input('Enter Name 4: ')
l4 = input("Enter Your Favourite Language: ")

# update_dct = {n1:l1,
#                n2:l2,
#                n3:l3,
#                n4:l4}

# dct.update(update_dct)

# another method
dct[n1] = l1
dct[n2] = l2
dct[n3] = l3
dct[n4] = l4
print(dct)

{'ali': 'Python', 'sohaib': 'java', 'Noman': 'julia', 'hashim': 'ruby'}

In [66]:
# can you change the values inside a list which is contianed in a set s?
# s = {8,7,12,'Dilshad',[1,2]}
# print(s)

# as lists are unhashable, so they cannot be used inside sets.

## **Chapter 06 Conditional Expressions**

Sometimes we want to play pubg on our phone, if the day is sunday.\
Sometimes we order Icecream online if the day is sunny.\
Sometime we go hiking if our parents allow.

All these are decisions which depends on a condition being met.

In python programming too, we must be able to execute functions on a certain condition(s) being met. This is what conditional expressionas are used for.

**if else and elif in Python**\
if else and elif statements are a multiway decision takken by our program due to certain conditions in our code.

**Syntax:**\
if (condition1):\
----print('yes')\
elif (condition2):\
----print('no)\
else:\
----print('may be)


**elif Clause:**\
elif in python means [else if]. An if statements can be chained together with a lot of these elif statements followed by and else statement.

- Ladder stops when a condition is if or elif is met.

In [5]:
# conditional expressions:

###if else statement ladder if else ladder
a =3
if a>3:
    print('The Value of a is greater than 3.')
elif a<13:
    print('The value of a is less than 3.')
elif a<23:
    print('The value of a is less than 3.')
elif a>123:
    print('The value of a is less than 3.')
else:
    print('The value of a is equal to 3.')

The value of a is less than 3.

In [7]:
# quiz
# Write a python program to print yes when the age of entered by the user is greater than or equal to 18.

age =int(input('Enter Your Age '))

if age>=18:
    print('Yes')
else:
    print('User is Underage for this program.')

Yes

**Relational Operators:**\
Relational operators are used to evaluate conditions inside the if statements. Some examples of relational operators are:\
== (equal to)\
>= (greater than or equal to)\
<= (less than or equal to)

**Logical Operators:**\
In python logical operators operate on conditional statements.\
**and**    (true if both operands are true else false)\
**or**    (true if one operand is true else false)\
**not**    (inverts true to false and false to true)

In [8]:
# logical and relational operators in conditional 

age = int(input('Enter Your age: '))
if (age>34 and age<56):
    print('You are eligible for this program.')
else:
    print('Sorry, You cannot work with us.')

Sorry, You cannot work with us.

In [10]:
# is
a = None

if (a is None):
    print('Yes')
else:
    print('No')
    
#in can be used to iterate the list.
a = [4,5,6,7,8,5]
print(45 in a)

Yes
False

**Important notes:**
- There can be any number of elif statements.
- Last else is eqecuted only if all the conditions inside elifs doesn't match or fail.

## **Practice Set**

In [28]:
# write a python program to find greatest of four numbers entered by user.

n1 = int(input('Enter Number 1: '))
n2 = int(input('Enter Number 2: '))
n3 = int(input('Enter Number 3: '))
n4 = int(input('Enter Number 4: '))
l1=[n1,n2,n3,n4]
print(l1)
if (n1>n2) and (n1>n3)and (n1>n4):
    print(f'{n1}, is greatest Number')
elif (n2>n1)and(n2>n3)and(n2>n4):
    print(f'{n2}, is greatest Number')
elif (n3>n1)and(n3>n2)and(n3>n4):
    print(f'{n3}, is the greatest Number')
elif (n4>n1)and(n4>n2)and(n4>n3):
    print(f'{n4},is the greatest Number')
else:
    print('nothing is greater')

[3, 32, 23, 43]
43,is the greatest Number

In [29]:
# write a program to find ou
# whether a student is pass or fail, if it requires totaal 40%
# and at least 33%, in each subject to pass. Assume 3 subject
# and take marks as an input from user.

marks1 = int(input('Enter Marks for Fist Subject: '))
marks2 = int(input('Enter Marks for Second Subject: '))
marks3 = int(input('Enter Marks for Fist Subject: '))
obt = marks1+marks2+marks3
total_sub_ = 100
total = 300
ps_perc = 33
perc = (obt/total)*100
sub1_perc = (marks1/total_sub_)*100
sub2_perc = (marks2/total_sub_)*100
sub3_perc = (marks3/total_sub_)*100
print(perc)
print(sub1_perc,sub2_perc,sub3_perc)
if perc>=ps_perc and sub1_perc>=ps_perc and sub2_perc>=ps_perc and sub3_perc>=ps_perc:
    print("Congratulations! You've Passed the Exams")
else:
    print("Fail! You've to retake exams.")

In [13]:
# A spam comment is defined as a text containing following key words:
# 'make a lot of money', 'buy now', 'subscribe this',
# 'click this'
# Write a program to detect these spams:
comment = input('Enter Message to detect: ')
spam = ['make a lot of money', 'buy now', 'subscribe this',
        'click this']
Spam = False
if ('make a lot of money') in comment:
    spam = True
elif ('buy now') in comment:
    spam = True
elif ('subscribe this') in comment:
    spam = True
elif ('click this') in comment:
    spam = True
else:
    spam = False

if spam == True:
    print('Spam, Check your security.')
else:
    print('Hurray! No Spam Detected.')

Hurray! No Spam Detected.

In [16]:
# write a program to find wheteher a given username contatins less than 10 character or not.

username = input('Username: ')
l = len(username)
if l<10:
    print('Not Allowed! Less than 10 Characters')
else:
    print('This Username is available.')

Less than 10 Characters

In [18]:
# write a program to find whether a given name is pressent in list or not.
name = ['Ali','Ahmad','Sohaib', 'Dilshad', 'Shoaib', 'Noman', 'Rehan', 'Hamza']

chk = input('Enter Name to check:  ')

if chk in name:
    print('Present in the list')
else:
    print('Not found..!')

Not found..!

In [20]:
# Write a python program to calculate the grade of a stuent from his marks from the follwoing.

ttl = int(input('Enter Total Marks: '))
obt = int(input('Marks Obtained: '))
print(f'Total Marks: {ttl}')
print(f'Marks Obtained: {obt}')

per = (obt/ttl)*100
print(f'Percentage: {per}')

if per<50:
    print('F')
elif per>=50 and per<60:
    print('Grade: D')
elif per>=60 and per<70:
    print('Grade: C')
elif per>=70 and per<80:
    print('Grade: B')
elif per>=80 and per<90:
    print('Grade: A')
elif per>=90 and per<100:
    print('Grade: A+')
else:
    print('Use Again..!')

Total Marks: 1050
Marks Obtained: 888
Percentage: 84.57142857142857
Grade: A

In [22]:
# write a prograM TO FIND OUT WHETHER A GIVEN POST IS TALKING ABOUT DILSHAD OR NOT
post = input('Enter Post: ')

if ('Dilshad') or ('dilshad') in post:
    print('Yes, It is about Dilshad.')
else:
    print('No, It not about you Dilshad.')

Yes, It is about Dilshad.

# **Chapter 07 Loops in Python**
Sometimes we want to repeat a set of statements in our python for instance: print 1 to 1000.\
Loops make it easy for a programmer to tell the computer, which set of instructions to repeat and how.

**Type of Loops in Python**\
Primariyl two types of loops are in python:
- while lopp
- for loop

**while loop:**\
The syntax of while loop is\
*while condition:*\
*Body of the loop*\

This loop will continue to execute again and again until condition is satisfied.\
In while loop, the condition is checked first. If it evaluates to true, the body of the loop is executed otherwise not.\
If the loops is entered, the process of condition check and execution is continued until the condition becomes false.\
So, if condition never becomes false; loop will continue to run infinitely.

In [24]:
# Quiz Program to print 1 to 50 using a while loop

i = 0
while i<50:
    print(i+1) 
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [26]:
# print five time your name
i = 0
while i<5:
    print('Dilshad')
    i = i+1

Dilshad
Dilshad
Dilshad
Dilshad
Dilshad

In [39]:
# quiz print all items of list
list1= ['Dilshad','Ali', 'Umair','Waqar', 'Adnan']
n = 0
while n<len(list1):
    print(list1[n])
    n = n+1

Dilshad
Ali
Umair
Waqar
Adnan

**for Loop:**\
A for loop is used to iterate through a sequence like list, tuple or string(iterables).\
The syntaax of a for loop is like this:\
l = [1,2,3]
*for i in l:*\
*----print(i)*\
**returns:**\
1\
2\
3

**RANGE fucntion in python:**\
The range function in python is used to generate a sequence of numbers. We can also specify the start, stop and step size in range function.

syntax:

*for i range(start,size,step_size):*\
*----print(i)*


**for loop with else:**\
An otional else can be used with a for loop if the code is to be executed when the loop exhausts.

In [42]:
# for loop with else:

for i in range(10):
    print(i)
else:
    print('done')

0
1
2
3
4
5
6
7
8
9
done

In [40]:
# range funciton
for i in range(1,10,2):
    print(i)

1
3
5
7
9

**break Statement:**\
break is used to come out of loop when encountered. it instructs the program to exit the loop now.

In [43]:
# break statement
for i in range(1,10,2):
    print(i)
    if i==5:
        break

1
3
5

**continue Statement:**\
continue is used to stop current iteration of the loop and continue with next one. It instructs the program to 'skip this iteration'

In [46]:
for i in range(10):
    if i%2:
        continue
    print(i)

0
2
4
6
8

**pass Statement:**\
pass statement is a null statement in python. It instructs to do nothing with that part of code.

In [47]:
# pass statements
l = [1,2,3]
for item in l:
    pass

## **Practice Set 07**

In [50]:
# write a program to print multiplication table of a given number using for loop.
n = float(input("Enter a Number to see Table: "))
for i in range(1,11):
    print(str(n),'x',str(i),'=',i*n)

20.0 x 1 = 20.0
20.0 x 2 = 40.0
20.0 x 3 = 60.0
20.0 x 4 = 80.0
20.0 x 5 = 100.0
20.0 x 6 = 120.0
20.0 x 7 = 140.0
20.0 x 8 = 160.0
20.0 x 9 = 180.0
20.0 x 10 = 200.0

In [3]:
# write a program to greet all people in the list given 'people'
# to greet them and their names starts with S.

people = ['Dilshad', 'Shahid', 'Sohaib', 'Shoaib', 'Salman','Ali']

for name in people:
    if name.startswith('S'):
        print('Hello! '+name)

Hello! Shahid
Hello! Sohaib
Hello! Shoaib
Hello! Salman

In [6]:
# attempt problem 1 using while loop
n = float(input("Enter a Number to see Table: "))

i =1
while i<11:
    a = i*n
    print(f'{n} x {i} = {a}')
    i = i+1

2.0 x 1 = 2.0
2.0 x 2 = 4.0
2.0 x 3 = 6.0
2.0 x 4 = 8.0
2.0 x 5 = 10.0
2.0 x 6 = 12.0
2.0 x 7 = 14.0
2.0 x 8 = 16.0
2.0 x 9 = 18.0
2.0 x 10 = 20.0

In [12]:
# write a program to find whether a given number is prime or not

pn = int(input('Enter number: '))
prime = True
for i in range(2, pn):
    if (pn%i==0):
        prime = False
if prime:
    print('This number is prime number.')
else:
    print('Not a prime number')

Not a prime number

In [15]:
# write a program to find the sum of first n natural numbers using while loop
num = int(input("Enter a number: ")) 

if num < 0:
   print("Please enter a positive number")
else:
   sum = 0
   
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The result is", sum)

The result is 6

In [20]:
# write a program to calculate the factorial of a given number using for loop.
n = int(input('Enter Number: '))
fac = 1
for i in range(1,n+1):
    fac = fac*i
print(f'The factorial of {n} is {fac}')

The factorial of 5 is 120

In [22]:
# write a program to print the following star print;

# *
# **
# ***
# ****

n = 4
for i in range(4):
    print('*'*(i+1))

*
**
***
****

In [31]:
n = 3
for i in range(3):
    print(' ' *(n-i-1), end="")
    print('*' *(2*i-1), end="")
    print(' ' *(n-i-1))

 *
***

In [38]:
n = float(input("Enter a Number to see Table: "))
for i in range(10,0,-1):
    print(str(n),'x',str(i),'=',i*n)

2.0 x 10 = 20.0
2.0 x 9 = 18.0
2.0 x 8 = 16.0
2.0 x 7 = 14.0
2.0 x 6 = 12.0
2.0 x 5 = 10.0
2.0 x 4 = 8.0
2.0 x 3 = 6.0
2.0 x 2 = 4.0
2.0 x 1 = 2.0

In [5]:
# Exercise 1: Print First 10 natural numbers using while loop
i = 0
while i<10:
    print(i+1)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [23]:
# Print the following pattern
rows = 6

for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [28]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
n = 5
b =0
for i in range(n,0, -1):
    b += 1
    for j in range(1,i+1):
        print(b,end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [34]:
n = 5
r = n
for i in range(n,0,-1):
    for j in range(0,i):
        print(r, end=' ')
    print('\r')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [40]:
rows = 5
for i in range(rows, 0, -1):
    # print(i)
    for j in range(0, i + 1):
      print(j, end=' ')  
    #   print(j, end=' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [41]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [42]:
rows = 5
# reverse loop
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [43]:
rows = 6
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [44]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [45]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [46]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [47]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [56]:
# # Display numbers from a list using loop
# Write a program to display only those numbers from a list that satisfy the following conditions

# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the next number
# If the number is greater than 500, then stop the loop


list = [12, 75, 150, 180, 145, 525, 50]
b = 150
c = 500
for i in list:
    a = i%5
    if i>c:
        break
    elif i>b:
        continue
    elif (a ==0):
        print(i)

75
150
145

In [58]:
# Write a program to count the total number of digits in a number using a while loop.
num = int(input('Enter number:'))
i = 0
while num!= 0:
    num = num//10
    i = i+1
print(f'Total digits are: {i}')

Total digits are: 6

In [75]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [78]:
list1 = [10, 20, 30, 40, 50]
reverselist= reversed(list1)
for i in reverselist:
    print(i)

50
40
30
20
10

In [82]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [83]:
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!